<app-web-banner></app-web-banner>
<div class="border">
    <form [formGroup] = "productGroup">
        <mat-form-field appearance="fill" class="inputSet">
            <mat-label>Product Name</mat-label>
            <input [formControl]="productnameCtrl" id="productNameInput" matInput>
            <mat-error *ngIf="productnameCtrl.hasError('required')">Product name is required.</mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill" class="inputSet">
            <mat-label>Category</mat-label>
            <mat-select [formControl]="categoryCtrl" id="categoryInput">
                <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
              </mat-select>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill" class="inputSet">
            <mat-label>Price</mat-label>
            <input [formControl]="priceCtrl" id="priceInput" matInput>
            <mat-error *ngIf="priceCtrl.hasError('required')">Price is required.</mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill" class="inputSet">
            <mat-label>Product Detail</mat-label>
            <textarea [formControl]="descriptionPlantCtrl" id="descriptionInput" matInput rows="5"></textarea>
            <mat-error *ngIf="descriptionPlantCtrl.hasError('required')">Description is required.</mat-error>
          </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill" class="inputSet">
            <mat-label>Product Care</mat-label>
            <textarea [formControl]="descriptionCareCtrl" id="careInput" matInput rows="5"></textarea>
            <mat-error *ngIf="descriptionCareCtrl.hasError('required')">Care is required.</mat-error>
          </mat-form-field>
        <br><br>
        <button mat-stroked-button (click)="saveChanges()" class="buttonStyle">Save</button>
        <button mat-stroked-button (click)="cancelChanges()" class="buttonStyle">Cancel</button>
    </form>
</div>