.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: #414141;
    height: 40px;
    width: 100%;
  
    .footer-text {
      font-size: 14px;
      text-align: center;
      margin: 0;
    }
  }
  
  