:host .loginBody {
    height: auto;
    width: 99%;
    margin: 0 auto;
    margin-top: 5%;
}
:host .loginBody .loginCard {
    margin: 0 auto;
    color: gray;
    width: 50%;
    height: auto;
    padding: 2%;
}
:host .loginBody .loginCard .imageStyle {
    width: 30%;
    margin: 0 auto;
    display: block;
}
:host .loginBody .loginCard .inputSet {
    width: 80%;
    margin: auto;
    display: block;
}
:host .loginBody .loginCard .buttonStyle {
    width: 50%;
    margin: auto;
    display: block;
}