<div class="loginBody">
  <mat-card class="loginCard">
    <div class="login-header">
      <img src="assets/StockPhotos/BugMe_Logo.jpg" alt="BugMe Png" class="logo" />
      <h4>Login Below</h4>
    </div>

    <div *ngIf="errors.length > 0 || loginFail" class="error-message">
      <p *ngFor="let error of errors">{{ error }}</p>
      <h2 *ngIf="loginFail">Logon Failed, Check Username or Password</h2>
    </div>
    <form [formGroup]="loginGroup">
      <mat-form-field appearance="fill" class="inputSet">
        <mat-label for="usernameInput">Username</mat-label>
        <input
          [formControl]="usernameCtrl"
          id="usernameInput"
          matInput
          tabindex="1"
        />
        <mat-error *ngIf="usernameCtrl.hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="inputSet">
        <mat-label for="passwordInput">Password</mat-label>
        <input
          type="password"
          [formControl]="passwdCtrl"
          id="passwordInput"
          matInput
          tabindex="2"
        />
        <mat-error *ngIf="passwdCtrl.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </form>
    <br />
    <br />
    <button
      mat-stroked-button
      (click)="attemptLogin()"
      class="buttonStyle"
      tabindex="3"
    >
      Submit
    </button>
  </mat-card>
</div>
<app-footer-trademark></app-footer-trademark>
