:host {
.mainPanelBody {
height: auto;
width: 60vw;
margin: 2vh auto;
padding-top: 1%;
text-align: center;
padding-bottom: 40px;
display: flex;
justify-content: center;
}
}

.container {
width: 50%;
min-width: 400px;
margin: 3% auto;
}

.top {
text-align: center;
font-size: large;
height: 20px;
}

.top img {
width: 45px;
vertical-align: middle;
margin-right: 1%;
border: 2px solid blue;
border-radius: 5px;
}

.friend-list {
display: block;
margin: 0;
padding: 0;
background: #eee;
list-style-type: none;
}

.friend {
height: auto;
background: #eee;
display: flex;
flex-direction: column;
border-bottom: 1px solid #ddd;
cursor: pointer;
margin-top: 10px;
margin-bottom: 10px;
}
.friend.highlighted {
background-color: red;
}

.friend img {
width: 45px;
height: 45px;
object-fit: cover;
margin-left: 5px;
margin-right: 10px;
}

.friend .name {
flex: 1;
font-size: 18px;
align-self: center;
}

.friend.selected {
background: #43a047;
color: white;
}
.container {
  justify-content: center;
}
.friend.selected img {
border-color: white;
}

.friend:not(.selected):hover {
background: #ddd;
}

.inputSet {
width: 80%;
margin: auto;
display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem; /* increase padding */
}

.grid-row {
display: contents;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 2rem; /* increase padding */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px; /* increase width */
}

.bug-severity {
color: #333 !important; /* dark gray */
font-weight: bold;
margin-bottom: 0.5rem;
}

.bug-element {
color: #333 !important; /* dark gray */
margin-bottom: 0.5rem;
}

.mainPanelBody {
display: flex;
}

.sqlUserBugs {
width: 50%;
height: 200px;
resize: none;
overflow-y: auto;
margin: auto;
font-size: 11px;
text-align: center;
}

@media (max-width: 768px) {
.grid-container {
grid-template-columns: repeat(3, 1fr);
}
}