<app-web-banner></app-web-banner>
<div class="mainPanelBody">
    <h1>Teacher Panel</h1>
    <br>
    <p style="color:red; margin-left: 10%;" *ngFor="let error of errors">{{error}}</p>
    <div class="userSection">
        <ul class="friend-list">
            <li class="friend" *ngFor="let user of users">
              <img src="assets/user-icon.png" alt="icon Png" >
              <div class='name'>
                <div class="friend-entry-left">{{user.username}}</div>
              </div>
            </li>
          </ul>
    </div>
    <div class="bugSection">

    </div>
</div>
