<app-web-banner></app-web-banner>
<div class="mainPanelBody">
  <br />

  <p style="color: red; margin-left: 10%;" *ngFor="let error of errors">
    {{ error }}
  </p>
  <div class="userSection">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header
        class="panel-head"
        [ngStyle]="{
          'background-color': isTeacher(user.role) ? 'lightgrey' : ''
        }"
      >
        <div style="margin: auto;" *ngIf="user.id !== 1">
          <h2>{{ user.role }} ID:{{ user.id - 1 }}</h2>
        </div>
        <div style="margin: auto;" *ngIf="user.id === 1">
          <h2>Teacher Panel</h2>
        </div>
      </mat-expansion-panel-header>

      <mat-card-content>
        <button
          style="margin-top: 10px;"
          mat-raised-button
          *ngIf="user.id === 1"
          (click)="createNewUser()"
        >
          Create New User
        </button>

        <div *ngIf="user.id === 1">
          <h2 style="padding-top: 10px;">Script View</h2>
          <textarea class="sqlUserBugs" readonly>{{
            this.sqlUserBugs
          }}</textarea>
        </div>
        <div *ngIf="user.id !== 1" class="grid-container">
          <div class="grid-row" *ngFor="let bug of bugs">
            <mat-slide-toggle
              class="grid-item bug-toggle"
              [id]="bug.id.toString()"
              [matTooltip]="bug.title"
              (change)="toggleBug($event.checked, bug.id)"
            >
              <div class="bug-severity">{{ bug.severity }}</div>
              <div class="bug-element">Bug: {{ bug.id }}</div>
            </mat-slide-toggle>
          </div>
        </div>
      </mat-card-content>
      <div class="buttons" *ngIf="user.id !== 1">
        <button
          matTooltip="Add To Script"
          mat-icon-button
          class="hover-effect"
          (click)="generateScript(user.id)"
        >
          <mat-icon>save</mat-icon>
        </button>
        <button
          matTooltip="Download Root Script"
          mat-icon-button
          class="hover-effect"
          (click)="downloadRootScript()"
        >
          <mat-icon>save_alt</mat-icon>
        </button>
        <div *ngIf="user.id > 3">
          <button
            matTooltip="Delete User"
            mat-icon-button
            class="hover-effect"
            (click)="deleteUser(user.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
<app-footer-trademark></app-footer-trademark>
