// Global Styles
:host {
  display: block;
  font-family: sans-serif;
}

// Styles for mainPanelBody
.mainPanelBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 90%;
  padding: 2rem;
  text-align: center;
  margin: auto;

  img {
    width: 100px;
    margin-bottom: 2rem;
  }

  p {
    color: red;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  button {
    margin-bottom: 1rem;
  }

  .userSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

//
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.button-container button:first-child {
  margin-right: 1rem;
}

// Styles for mat-expansion-panel
mat-expansion-panel {
  width: 80%;
  margin-bottom: 1rem;

  .panel-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      object-fit: contain; // or "cover" depending on your design requirements
    }
  }

  .grid-item {
    margin-bottom: 0.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
  }

  .bug-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 4px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .bug-toggle:hover::before {
      content: attr(title);
      position: absolute;
      background: #222;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      font-size: 14px;
      white-space: nowrap;
      z-index: 1;
    }
    .bug-severity {
      font-weight: bold;
      margin-bottom: 0.5rem;
      padding-left: 5px;
    }

    .bug-element {
      margin-bottom: 0.5rem;
      padding-left: 5px;
    }
  }

  .delete-button {
    margin-left: auto;
  }
}

// Media query for smaller screens
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

