<div
  class="footer-container"
  style="justify-content: center; display: flex; height: 150px;"
>
  <div class="logo" style="align-self: flex-start;">
    <img
      class="logo"
      src="../assets/images/sunflowerLogo.png"
      style="padding-left: 10px;"
      alt="Logo"
    />
  </div>
  <div class="contact-info" style="align-self: flex-start;">
    <h4>The Plant Shop</h4>
    <p>Unit #69, 123 Forest St.</p>
    <p>Waterloo, Ontario N2N 2N2</p>
    <p>Phone: 555-555-5555</p>
    <p>Email: info@theplantstore.com</p>
  </div>
  <div class="store-hours" style="align-self: flex-start;">
    <section *ngIf="bug11Enabled == false">
      <h4>Store Hours</h4>
      <p>Mon - Fri: 9am - 6pm</p>
      <p>Sat: 10am - 4pm</p>
      <p>Sun: Closed</p>
    </section>
    <section *ngIf="bug11Enabled == true">
      <h4>Store Hours</h4>
      <p>Mon - Fri: 900am - 1666pm</p>
      <p>Sat: 33am - 2560pm</p>
      <p>Sun: Sat</p>
    </section>
  </div>
  <div class="links" style="align-self: flex-start;">
    <h4>Links</h4>
    <ul>
      <li><a>Shipping Policy</a></li>
      <li><a>Refund Policy</a></li>
      <li><a>Terms of Service</a></li>
      <li><a>Privacy Policy</a></li>
    </ul>
  </div>
  <div class="subscribe" style="align-self: flex-start;">
    <h4>Subscribe to Our Newsletter</h4>
    <p>Sign up to receive the latest news and promotions</p>

    <input
      matInput
      [formControl]="emailCtrl"
      type="email"
      placeholder="Enter your email"
    />
    <button (click)="showSuccessMessage()">Subscribe</button>

    <p *ngIf="showSuccess" style="color: green;">Register success!</p>
    <p *ngIf="showError" style="color: red;">Email is required!</p>
  </div>
</div>
