<app-web-banner></app-web-banner>
<div class="border">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="product-image">
                <div class="product-image-main">
                    <img src="{{product.path}}" alt="" id="product-main-image">
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="col-6">
                <div class="product">
                    <div class="product-title">
                        <h2>{{product.productname}}</h2>
                    </div>

                    <div class="product-price">
                        <span class="offer-price">${{product.price}}.00</span>
                    </div>

                    <div class="product-details">
                        <h3>Description</h3>
                        <p>{{product.description}}</p>
                    </div>

                    <span class="divider"></span>

                    <div class="product-btn-group">
                        <button class="button add-cart" (click)="addToCart()" mat-stroked-button>Add to cart</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>


