<app-web-banner></app-web-banner>
<div class="mainCheckoutBody">
  <h1 style="text-align: center; font-weight: bold;">Checkout</h1>
  <h2
    style="text-align: center; font-weight: bold; color: red;"
    *ngIf="productsInCart.length == 0"
  >
    Cart Empty
  </h2>

  <div
    style="display: flex; justify-content: center;"
    *ngIf="productsInCart.length == 0"
  >
    <button style="margin: auto;" mat-button routerLink="/landing">Home</button>
  </div>
  <section *ngIf="productsInCart.length != 0">
    <h2
      style="text-align: center; font-weight: bold; color: green;"
      *ngIf="productsPurchased"
    >
      Your Order #{{ orderNumber }} will be ready for pickup soon!
    </h2>

    <h2
      style="text-align: center; font-weight: bold; color: green;"
      *ngIf="cartCleared"
    >
      Cart cleared, routing to store page.
    </h2>
    <h2
      style="text-align: center; font-weight: bold; color: red;"
      *ngIf="submitError"
    >
      Errors in payment inputs
    </h2>

    <br />
    <h2>Selected Products:</h2>

    <div class="example-radio-group">
      <div class="example-radio-button" *ngFor="let product of productsInCart">
        {{ product.name }}
        <p></p>
        <img style="width: 100px;" src="{{ product.path }}" />
        ${{ product.price }}
      </div>
    </div>

    <br />
    <br />
    <h4>Subtotal: ${{ cartCost.toFixed(2) }}</h4>
    <h4>Tax: ${{ taxCost.toFixed(2) }}</h4>
    <h4>Full Cost: ${{ fullCost.toFixed(2) }}</h4>
    <br />
    <h2>Payment Method:</h2>

    <div class="inputSection">
      <form [formGroup]="cardGroup">
        <mat-form-field appearance="fill">
          <mat-label>Card Number</mat-label>
          <input [formControl]="creditCardNumCtrl" matInput />
          <mat-error *ngIf="creditCardNumCtrl.hasError('required')">
            Credit card is required
          </mat-error>
          <mat-error *ngIf="creditCardNumCtrl.hasError('pattern')">
            Please check your credit card
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Expiration Date</mat-label>
          <input [formControl]="expiryCtrl" matInput />
          <mat-hint>Format must be MM/YY</mat-hint>
          <mat-error *ngIf="expiryCtrl.hasError('required')">
            Expiry is required
          </mat-error>
          <mat-error *ngIf="expiryCtrl.hasError('pattern')">
            Please check your expiry
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>CVC Number</mat-label>
          <input matInput [formControl]="cvcCtrl" />
          <mat-error *ngIf="cvcCtrl.hasError('required')">
            CVC Number is required
          </mat-error>
          <mat-error *ngIf="cvcCtrl.hasError('pattern')">
            Must be a 3 digit number
          </mat-error>
        </mat-form-field>
        <br />
      </form>
    </div>

    <div style="display: flex;">
      <button
        mat-stroked-button
        (click)="purchaseCart()"
        style="flex: 1;"
        class="buttonStyle"
      >
        Purchase
      </button>
      <button
        mat-stroked-button
        (click)="clearCart()"
        style="flex: 1;"
        class="buttonStyle"
      >
        Clear Cart
      </button>
    </div>
  </section>
</div>

<app-footer-trademark></app-footer-trademark>
