<app-web-banner></app-web-banner>
<div class="mainPanelBody">
  <h1>Employee Panel</h1>
  <br />
  <p style="color: red; margin-left: 10%;" *ngFor="let error of errors">
    {{ error }}
  </p>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Create a New Product</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newProduct.name" name="name" required />
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Path</mat-label>
      <input
        matInput
        [(ngModel)]="newProduct.path"
        name="path"
        required
      /> 
    </mat-form-field> --->

    <h4>mat-select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Image Path</mat-label>
      <mat-select [(ngModel)]="newProduct.path">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let product of availableImages" [value]="product">
          <img
            src="{{ product }}"
            alt="product"
            style="max-height: 150px; max-width: 150px; margin-left: 23vw;"
          />
          <p style="margin-left: 20vw;">{{ product }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput [(ngModel)]="newProduct.price" name="price" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description (Plant)</mat-label>
      <textarea
        matInput
        [(ngModel)]="newProduct.descriptionPlant"
        name="description_plant"
        required
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description (Care)</mat-label>
      <textarea
        matInput
        [(ngModel)]="newProduct.descriptionCare"
        name="description_care"
        required
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="newProduct.category" name="category" required>
        <mat-option value="Tiny">Tiny</mat-option>
        <mat-option value="Small">Small</mat-option>
        <mat-option value="Medium">Medium</mat-option>
        <mat-option value="Large">Large</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="createProduct()"
      >
        Create Product
      </button>
    </div>
    <br />
    <h2 style="text-align: center; color: green;" *ngIf="showCreated">
      Product created!
    </h2>
  </mat-expansion-panel>

  <div class="userSection">
    <ul class="friend-list">
      <li class="friend" *ngFor="let product of products">
        <div>
          <label for="name">Product Name</label>
          <br />
          <input
            id="name"
            [(ngModel)]="product.name"
            (keyup.enter)="saveProduct(product)"
            (keyup.esc)="cancelEditProduct(product)"
            aria-label="Name"
            class="form-input"
            style="margin: 5px;"
          />
          <br />
          <label for="path">Image</label>
          <br />
          <input
            id="path"
            [(ngModel)]="product.path"
            (keyup.enter)="saveProduct(product)"
            (keyup.esc)="cancelEditProduct(product)"
            aria-label="Path"
            class="form-input"
            style="margin: 5px;"
          />
          <br />
          <label for="price">Product Price</label>
          <br />
          <input
            id="price"
            [(ngModel)]="product.price"
            (keyup.enter)="saveProduct(product)"
            (keyup.esc)="cancelEditProduct(product)"
            aria-label="Price"
            class="form-input"
            style="margin: 5px;"
            pattern="^[0-9]+(\.[0-9]{1,2})?$"
            required
          />
          <br />
          <label for="category">Product Category</label>
          <br />
          <select
            id="category"
            [(ngModel)]="product.category"
            class="form-select"
            style="margin: 5px;"
          >
            <option value="Tiny">Tiny</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
          <br />
          <br />
          <label for="description-plant">Product Description</label>
          <br />
          <textarea
            id="description-plant"
            [(ngModel)]="product.descriptionPlant"
            (keyup.enter)="saveProduct(product)"
            (keyup.esc)="cancelEditProduct(product)"
            aria-label="Description (Plant)"
            class="form-input"
            style="margin: 5px; resize: none;"
            rows="4"
          ></textarea>
          <br />
          <label for="description-care">Care Instructions</label>
          <br />
          <textarea
            id="description-care"
            [(ngModel)]="product.descriptionCare"
            (keyup.enter)="saveProduct(product)"
            (keyup.esc)="cancelEditProduct(product)"
            aria-label="Description (Care)"
            class="form-input"
            style="margin: 5px; resize: none;"
            rows="4"
          ></textarea>
          <br />
          <img src="{{ product.path }}" alt="icon Png" />
          <div class="product-edit-buttons">
            <section
              style="
                top: 50%;
                height: 48px;
                left: 0;
                right: 0;
                transform: translateY(-50%);
              "
              *ngIf="renderBug13 == true"
            >
              <button mat-button (click)="saveProduct(product)" style="">
                Save
              </button>
              <button
                mat-stroked-button
                (click)="cancelEditProduct(product)"
                style="width: 200px; margin-right: 50px;"
              >
                Cancel
              </button>
            </section>
            <section *ngIf="renderBug13 == false">
              <button
                mat-stroked-button
                (click)="saveProduct(product)"
                class="form-input"
                style="margin: 5px;"
              >
                Save
              </button>
              <button
                mat-stroked-button
                (click)="cancelEditProduct(product)"
                class="form-input"
                style="margin: 5px;"
              >
                Cancel
              </button>
            </section>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-footer-trademark></app-footer-trademark>
