<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_errors/main.css"/>
	<title>Error 502 - %{HOSTNAME}</title>
	<style>
                html{
                        background-color: #f1c40f;
                }

                body{
                        color: black;
                }
        </style>

</head>

<body>
<div class="error-middle">
    <br>
        <h1 style="text-align: center;">Error 502 - Bad Gateway</h1>
        <br>
        <p style="border-bottom: 2px solid black;"></p>
        <br>
        <p style="text-align: center;">The 502 (Bad Gateway) status code indicates that the server, while acting as a gateway or proxy, received an invalid response from an inbound server it accessed while attempting to fulfill the request.</p>
</div>
</body>
</html>