<div class="loginBody">
  <mat-card class="loginCard">
    <img src="assets/BugMe Logo.png" alt="Haze Png" class="imageStyle" />
    <br />
    <h1 style="text-align: center; font-weight: bold;">Register</h1>
    <br />
    <form [formGroup]="registerGroup">
      <p style="color: red; margin-left: 10%;" *ngFor="let error of errors">
        {{ error }}
      </p>
      <p style="color: green; margin-left: 10%;" *ngIf="success == true">
        Account successfully registered! Routing to login page
      </p>
      <mat-form-field appearance="fill" class="inputSet">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="usernameCtrl" />
        <mat-error *ngIf="usernameCtrl.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="inputSet">
        <mat-label>Password</mat-label>
        <input
          id="passwdCtrl"
          matInput
          type="password"
          [formControl]="passwdCtrl"
        />
        <mat-error *ngIf="passwdCtrl.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="passwdCtrl.hasError('pattern')">
          Password must be minimum eight characters, at least one letter and one
          number
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="inputSet">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="roleCtrl">
          <mat-option value="User">User</mat-option>
          <mat-option value="Employee">Employee</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
    </form>
    <br />
    <br />

    <button mat-stroked-button class="buttonStyle" (click)="attemptCreate()">
      Submit
    </button>
  </mat-card>
</div>
