<app-web-banner></app-web-banner>
<div class="mainStoreBody">
  <div class="filterCol">
    <div class="innerFilterCol">
      <h2 style="margin: auto 0; padding-left: 8%; padding-bottom: 2%">
        Filter:
      </h2>
      <mat-divider></mat-divider>

      <mat-expansion-panel expanded="true" class="filterPanel mat-elevation-z0">
        <mat-expansion-panel-header>Collections</mat-expansion-panel-header>
        <p><mat-checkbox>Aglaonema (2)</mat-checkbox></p>
        <p><mat-checkbox>Air Purifying (83)</mat-checkbox></p>
        <p><mat-checkbox>Alocasia (7)</mat-checkbox></p>
        <p><mat-checkbox>Anthurium (2)</mat-checkbox></p>
        <p><mat-checkbox>Begonia (3)</mat-checkbox></p>
        <p><mat-checkbox>Bright Indirect Light (138)</mat-checkbox></p>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel class="filterPanel mat-elevation-z0">
        <mat-expansion-panel-header>Size</mat-expansion-panel-header>
        <p><mat-checkbox>Option 1</mat-checkbox></p>
        <p><mat-checkbox>Option 2</mat-checkbox></p>
        <p><mat-checkbox>Option 3</mat-checkbox></p>
        <p><mat-checkbox>Option 4</mat-checkbox></p>
        <p><mat-checkbox>Option 5</mat-checkbox></p>
        <p><mat-checkbox>Option 6</mat-checkbox></p>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel class="filterPanel mat-elevation-z0">
        <mat-expansion-panel-header>Price</mat-expansion-panel-header>
        <p><mat-checkbox>Option 1</mat-checkbox></p>
        <p><mat-checkbox>Option 2</mat-checkbox></p>
        <p><mat-checkbox>Option 3</mat-checkbox></p>
        <p><mat-checkbox>Option 4</mat-checkbox></p>
        <p><mat-checkbox>Option 5</mat-checkbox></p>
        <p><mat-checkbox>Option 6</mat-checkbox></p>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="productCol">
    <div class="grid-container">
      <div
        class="grid-item"
        *ngFor="let item of productArray"
        (click)="saveItem(item)"
      >
      <button mat-button class="zoomable">
        <img src="{{ item.path }}" />
        <h2>{{ item.product_name }}</h2>
        <p>From ${{ item.price }}</p>
      </button>
      </div>
    </div>
  </div>
</div>
<app-about-page></app-about-page>
<app-footer></app-footer>
