<app-web-banner></app-web-banner>
<app-about-page></app-about-page>
<div class="mainStoreBody">
  <div class="filterCol">
    <div class="innerFilterCol">
      <div class="searchBox">
        <p>
          <input
            [(ngModel)]="searchQuery"
            placeholder="Search"
            (input)="applyFilters()"
          />
        </p>
      </div>

      <!--bug 23 START-->
      <!-- SHOW THIS ONLY WHEN BUG 23 is active for current user -->

      <!-- <div class="searchBox">
        <p>
          <input placeholder="Search" (input)="searchForSunflower()" />
        </p>
      </div> -->

      <!--bug 23 END-->
      <mat-divider></mat-divider>
      <ng-container>
        <mat-expansion-panel
          class="filterPanel mat-elevation-z0"
          disabled="{{ expansionPanel }}"
        >
          <mat-expansion-panel-header>Size</mat-expansion-panel-header>
          <p>
            <mat-checkbox [(ngModel)]="category.Tiny" (change)="applyFilters()">
              Tiny / 2.5"
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox
              [(ngModel)]="category.Small"
              (change)="applyFilters()"
            >
              Small / 3"-4"
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox
              [(ngModel)]="category.Medium"
              (change)="applyFilters()"
            >
              Medium / 5"-6"
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox
              [(ngModel)]="category.Large"
              (change)="applyFilters()"
            >
              Large / 8"-10"
            </mat-checkbox>
          </p>
        </mat-expansion-panel>
      </ng-container>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="productCol">
    <div class="grid-container">
      <!-- Load by default -->
      <ng-container *ngIf="!searchPerformed && !isSizeFiltered()">
        <div
          class="grid-item"
          *ngFor="let item of productArray"
          (click)="saveItem(item)"
        >
          <button mat-button class="zoomable">
            <img src="{{ item.path }}" />
            <h2>{{ item.name }}</h2>
            <p>From ${{ item.price }}</p>
          </button>
        </div>
      </ng-container>
      <!-- Show when search is used or size filter is used -->
      <ng-container *ngIf="searchPerformed || isSizeFiltered()">
        <div
          class="grid-item"
          *ngFor="let item of filteredProducts"
          (click)="saveItem(item)"
        >
          <button mat-button class="zoomable">
            <img src="{{ item.path }}" />
            <h2>{{ item.name }}</h2>
            <p>From ${{ item.price }}</p>
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <!--when bug 22 is active show this-->

  <!-- <div class="productCol">
    <div class="grid-container">
      <ng-container *ngIf="!searchPerformed && !isSizeFiltered()">
        <div
          class="grid-item"
          *ngFor="let item of productArray"
          (click)="saveItem(item)"
        >
          <button
            mat-button
            [class.zoomable]="item.id !== 2 && item.id !== 5 && item.id !== 12"
          >
            <img src="{{ item.path }}" />
            <h2>{{ item.name }}</h2>
            <p>From ${{ item.price }}</p>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="searchPerformed || isSizeFiltered()">
        <div
          class="grid-item"
          *ngFor="let item of filteredProducts"
          (click)="saveItem(item)"
        >
          <button
            mat-button
            [class.zoomable]="item.id !== 2 && item.id !== 5 && item.id !== 12"
          >
            <img src="{{ item.path }}" />
            <h2>{{ item.name }}</h2>
            <p>From ${{ item.price }}</p>
          </button>
        </div>
      </ng-container>
    </div>
  </div> -->

  <!--end of bug 22-->
</div>
<!-- <app-footer></app-footer> -->

<!--App Subscribe Panel Content-->
<div class="subscribe" style="align-self: flex-start;">
  <h4>Subscribe to Our Newsletter</h4>
  <p>Sign up to receive the latest news and promotions</p>

  <input
    matInput
    [formControl]="emailCtrl"
    type="email"
    placeholder="Enter your email"
  />
  <button (click)="showSuccessMessage()">Subscribe</button>

  <p *ngIf="showSuccess" style="color: green;">Register success!</p>
  <p *ngIf="showError" style="color: red;">Email is required!</p>
</div>

<!--App Footer copied code-->
<div
  class="footer-container"
  style="justify-content: center; display: flex; height: 150px;"
>
  <div class="logo" style="align-self: flex-start;">
    <img
      class="logo"
      src="../assets/StockPhotos/sunflowerLogo.png"
      style="padding-left: 10px;"
      alt="Logo"
    />
  </div>
  <div class="contact-info" style="align-self: flex-start;">
    <h4>The Plant Shop</h4>
    <p>Unit #69, 123 Forest St.</p>
    <p>Waterloo, Ontario N2N 2N2</p>
    <p>Phone: 555-555-5555</p>
    <p>Email: info@theplantstore.com</p>
  </div>
  <div class="store-hours" style="align-self: flex-start;">
    <section *ngIf="bug11Enabled == false">
      <h4>Store Hours</h4>
      <p>Mon - Fri: 9am - 6pm</p>
      <p>Sat: 10am - 4pm</p>
      <p>Sun: Closed</p>
    </section>
    <section *ngIf="bug11Enabled == true">
      <h4>Store Hours</h4>
      <p>Mon - Fri: 900am - 1666pm</p>
      <p>Sat: 33am - 2560pm</p>
      <p>Sun: Sat</p>
    </section>
  </div>
  <div class="links" style="align-self: flex-start;">
    <h4>Links</h4>
    <ul>
      <li><a>Shipping Policy</a></li>
      <li><a>Refund Policy</a></li>
      <li><a>Terms of Service</a></li>
      <li><a>Privacy Policy</a></li>
    </ul>
  </div>
  <!-- <div class="subscribe" style="align-self: flex-start;">
    <h4>Subscribe to Our Newsletter</h4>
    <p>Sign up to receive the latest news and promotions</p>

    <input
      matInput
      [formControl]="emailCtrl"
      type="email"
      placeholder="Enter your email"
    />
    <button (click)="showSuccessMessage()">Subscribe</button>

    <p *ngIf="showSuccess" style="color: green;">Register success!</p>
    <p *ngIf="showError" style="color: red;">Email is required!</p>
  </div> -->
</div>

<app-footer-trademark></app-footer-trademark>
