:host {
  .mainStoreBody {
    height: auto;
    color: white;
    display: flex;
    padding-top: 1%;
    background-color: #fafafa;

    .filterCol {
      width: 16vw;
      height: auto;

      .innerFilterCol {
        color: black;
        padding: 1%;
        mat-expansion-panel {
          background-color: #fafafa;
        }
      }
    }

    ::ng-deep mat-expansion-panel-header {
      color: rgba(0,0,0,.87);
    }

    .searchBox {
      background-color: #ffffff;
      border-radius: 5px;
      padding: 8px 16px;
      display: inline-block;
      margin-left: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    
    .searchBox p {
      margin: 0;
    }
    
    .searchBox input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      font-size: 16px;
    }
    
    .searchBox input::placeholder {
      color: #999;
    }
    
    .productCol {
      width: 80vw;
      height: auto;
      padding: 20px;
      .sortRow {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
      }

      .item {
        h3 {
          color: black;
          text-align: left;
        }

        p {
          color: black;
          text-align: left;
        }

        img {
          width: 100%;
          height: 225px;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      .zoomable {
        transition: transform 0.2s ease-out;
      }
      .zoomable:hover {
        transform: scale(1.05);
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
    
        button {
          height: auto;
          width: 100%;
        
          h2 {
            color: black;
            text-align: left;
          }
        
          p {
            color: black;
            text-align: left;
          }
        
          img {
            width: 250px;
            height: 250px;
            align-items: center;
            border-radius: 5px;
          }
        }
        
        .grid-item {
          padding: 12px;
          background-color: #fff;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
        }
      }
    }
  }
}


