:host {
  
  .navbar {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    //background-image: url('/../assets/bg.jpg');
  }
  
  .logo {
    max-height: 60px;
    // transform: scale(.2);
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 110x;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons a {
    margin-left: 20px;
    color: #333;
  }
  
  .icons i {
    font-size: 20px;
  }
  
    .websiteBannerContent {
      background-image: url('/../assets/BugMeBanner.jpg');
    }

  .custom-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .normalBanner {
      height: 10vh;
      width: auto;
      background-color: whitesmoke;
    }
  }