<div class="normalBanner">
    <section class="webBannerContainer">
      <div class="websiteBannerContent">
        <div class="buttonsBuffer">
          <button mat-icon-button disabled>
            <mat-icon class="iconBuffer">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button disabled>
            <mat-icon class="iconBuffer">account_circle</mat-icon>
          </button>
        </div>
        <div class="title">
          <button mat-button (click)="navigateStore()"><h1>BugMe!</h1></button>
        </div>
        <div class="buttons">
          <button (click)="routeToCart()" mat-icon-button>
            <mat-icon class="icon" matBadgePosition="before" matBadgeSize="small" *ngIf="cartSize != 0" >shopping_cart</mat-icon>
            <mat-icon class="icon" matBadgePosition="before" matBadgeSize="small" *ngIf="cartSize == 0">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">account_circle</mat-icon>
          </button>
          <mat-menu backdropClass="dropdown" #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item *ngIf="currentUser.role == 'Teacher'" (click)="navigateTeacher()">Teacher Panel</button>
            <button mat-menu-item (click)="navigateLogin()">Log Out</button>
          </mat-menu>
        </div>
      </div>
    </section>
  </div>