<div class="websiteBannerContent">
  <nav class="navbar">
    <ul class="nav-links">
      <li>
        <img
          (click)="navigateStore()"
          class="logo"
          src="assets/StockPhotos/BugMe_Logo.jpg"
          alt="Logo"
        />
      </li>
      <li>
        <button mat-button style="width: 100%;">
          <a (click)="navigateStore()">BugMe: The Plant Shop</a>
        </button>
      </li>
    </ul>
    <div class="icons" *ngIf="bug33 == false">
      <button mat-icon-button matTooltip="View Cart" (click)="routeToCart()">
        <mat-icon
          class="icon"
          matBadgePosition="before"
          matBadgeSize="small"
          [matBadge]="cartSize"
        >
          shopping_cart
        </mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Account Menu"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon class="icon">account_box</mat-icon>
      </button>

      <mat-menu
        backdropClass="dropdown"
        #menu="matMenu"
        [overlapTrigger]="false"
      >
        <button
          mat-menu-item
          *ngIf="currentUser.role == 'Teacher'"
          (click)="navigateTeacher()"
        >
          Teacher Panel
        </button>
        <button
          mat-menu-item
          *ngIf="currentUser.role == 'Employee'"
          (click)="navigateEmployee()"
        >
          Employee Panel
        </button>
        <button mat-menu-item matTooltip="Log Out" (click)="navigateLogin()">
          Log Out
        </button>
      </mat-menu>
    </div>
    <div class="icons" *ngIf="bug33 == true">
      <button mat-icon-button matTooltip="View Cart" (click)="routeToCart()">
        <mat-icon
          class="icon"
          matBadgePosition="before"
          matBadgeSize="small"
          [matBadge]="cartSize"
        >
          error_outline
        </mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Account Menu"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon class="icon">error_outline</mat-icon>
      </button>

      <mat-menu
        backdropClass="dropdown"
        #menu="matMenu"
        [overlapTrigger]="false"
      >
        <button
          mat-menu-item
          *ngIf="currentUser.role == 'Teacher'"
          (click)="navigateTeacher()"
        >
          Teacher Panel
        </button>
        <button
          mat-menu-item
          *ngIf="currentUser.role == 'Employee'"
          (click)="navigateEmployee()"
        >
          Employee Panel
        </button>
        <button mat-menu-item matTooltip="Log Out" (click)="navigateLogin()">
          Log Out
        </button>
      </mat-menu>
    </div>
  </nav>
</div>
