<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/" class="logo"><img src="../assets/images/bmlogo.png" alt="Logo"></a></li>
    <li><a routerLink="/">BugMe: The Plant Shop</a></li>
    <!-- <li class="dropdown">
      <a href="#">Shop</a>
      <div class="dropdown-content">
        <a routerLink="/item1">Item 1</a>
        <a routerLink="/item2">Item 2</a>
        <a routerLink="/item3">Item 3</a>
      </div>
    </li>
    <li><a routerLink="/contact">Contact</a></li> -->
  </ul>
  <div class="icons">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon">search</mat-icon>
    </button>
    <button (click)="routeToCart()" mat-icon-button>
      <mat-icon class="icon" matBadgePosition="before" matBadgeSize="small" *ngIf="cartSize != 0" >shopping_cart</mat-icon>
      <mat-icon class="icon" matBadgePosition="before" matBadgeSize="small" *ngIf="cartSize == 0">shopping_basket</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon">account_box</mat-icon>
    </button>
    <mat-menu backdropClass="dropdown" #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngIf="currentUser.role == 'Teacher'" (click)="navigateTeacher()">Teacher Panel</button>
      <button mat-menu-item (click)="navigateLogin()">Log Out</button>
    </mat-menu>
  </div>
</nav>
<app-about-page></app-about-page>
<!--
<div class="normalBanner">
    <section class="webBannerContainer">
      <div class="websiteBannerContent">
        <div class="buttons menu-container">
        </div>
        <div class="buttonsBuffer">
          <button mat-icon-button disabled>
            <mat-icon class="iconBuffer">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button disabled>
            <mat-icon class="iconBuffer">account_circle</mat-icon>
          </button>
        </div>
        <div class="title">
          <button mat-button (click)="navigateStore()"><h1>BugMe!</h1></button>
        </div>
        <div class="buttons">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">search</mat-icon>
          </button>
          <button (click)="routeToCart()" mat-icon-button>
            <mat-icon class="icon" matBadgePosition="before" matBadgeSize="small" *ngIf="cartSize != 0" >shopping_cart</mat-icon>
            <mat-icon class="icon" matBadgePosition="before" matBadgeSize="small" *ngIf="cartSize == 0">shopping_basket</mat-icon>
            <img src="/assets/icons/cartEmpty.png" *ngIf="cartSize === 0">
            <img src="/assets/icons/cartFull.png" *ngIf="cartSize > 0" [matBadge]="cartSize" matBadgePosition="above before"> -->
            <!-- <span  src="/assets/images/cartFull.png" *ngIf="cartSize != 0" ></span>
            <span  src="/assets/images/cartEmpty.png" *ngIf="cartSize == 0"></span>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">account_box</mat-icon>
          </button>
          <mat-menu backdropClass="dropdown" #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item *ngIf="currentUser.role == 'Teacher'" (click)="navigateTeacher()">Teacher Panel</button>
            <button mat-menu-item (click)="navigateLogin()">Log Out</button>
          </mat-menu>
        </div>
      </div>
    </section>
  </div>
-->