:host {
  .navbar {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 40px;
    margin-left: 40px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons a {
    margin-left: 20px;
    color: #333;
  }
  
  .icons i {
    font-size: 20px;
  }
  


  .custom-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .normalBanner {
      height: 10vh;
      width: auto;
      background-color: whitesmoke;
  
      .websiteBannerContent {
        display: flex;
        background-image: url('/../assets/BugMeBanner.jpg');
        background-position: top;
        background-size: cover;
        border-bottom: 2px solid black;

  
        height: 12vh;
        min-height: 12vh;
  
        h1 {
          text-transform: uppercase;
          color: rgb(68, 68, 68);
          display: flex;
          font-size: 42px;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          padding: 20px 0;
          padding-bottom: 0%;
        }
  
        .title {
          display: flex;
          margin: 0 auto !important;
          align-items: center !important;
        }
  
        .buttons {
          margin: auto 0;
          padding-right: 1%;
        }
          
        .buttons button{
          padding-left: 20px;
          padding-right: 20px;
        }
        .buttonsBuffer {
          margin: auto 0;
          padding-left: 1%;
        }
  
        .icon {
          transform: scale(2);
          color: rgb(68, 68, 68);
          vertical-align: middle;
          font-size: 90%;
        }

        .iconBuffer {
          transform: scale(2);
          color: rgba(68, 68, 68, 0);
          vertical-align: middle;
        }

      }
    }
  }