:host .mainStoreBody {
    height: auto;
    width: 98vw;
    margin: 2vh auto;
    color: white;
    display: flex;
}
:host .mainStoreBody .filterCol {
    width: 20%;
    height: auto;
}
:host .mainStoreBody .filterCol .innerFilterCol {
    color: black;
    padding: 1%;
}
:host .mainStoreBody .filterCol .innerFilterCol mat-expansion-panel {
    background-color: whitesmoke;
}
:host .mainStoreBody .productCol {
    width: 80%;
    height: auto;
}
:host .mainStoreBody .productCol .sortRow {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}